/* static/css/base.css */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
}

header {
  border-bottom: 1px solid #999;
  margin-bottom: 2rem;
  display: flex;
}
/* static/css/base.css */
body {
  Source Sans Pro", sans-serif, sans-serif
  font-size: 18px;
}

header {
  border-bottom: 1px solid #999;
  margin-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  width: 100%;
  height: 200px;
  justify-content: center;
  align-items: center;
}

header h1 a {
  color: red;
  text-decoration: none;
}

.nav-left {
  margin-right: auto;
}

.nav-right {
  display: flex;
  padding-top: 2rem;
}

.post-entry {
  margin-bottom: 2rem;
}

.post-entry h2 {
  margin: .5rem 0;
}

.post-entry h2 a, .post-entry h2 a:visited {
  color: blue;
  text-decoration: none;
}

.post-entry p {
  margin: 0;
  font-weight: 400;
}

.post-entry h2 a:hover {
  color: red;
}
h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  color: #ff5607;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}
a {
  text-decoration: none;
  color: green;
}
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  align-items: center;
  margin: 0 auto;
}
.content {
  margin: 0 auto;
  height: 100%;
}
#banner p{
  color: white;
  font-size: 30px;
  font-weight: lighter;
  opacity: 0.7;
}
#footer{
  background: black;
  color: white;
  font-size: 20px;
  display: flex;
  width: 100%;
  height: 100px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
