<!-- templates/base.html -->
{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Django Blog</title>
    <meta name="description" content="Blog">
    <meta name="keywords" content="HTML,CSS,JavaScript,Django, Python">
    <meta name="author" content="Medi Risasi">
    <meta name = "revised" content = " 11/1/2018" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="stylesheet">
  </head>
  <body>
      <header>
        <div class="nav-left">
          <h1><a href="/">Django blog</a></h1>
        </div>
        <div class="nav-right">
          <a href="{% url 'post_new' %}">+ New Blog Post</a>
        </div>
    </header>
      <div class="container">
            {% if user.is_authenticated %}
              <p>Hi {{ user.username }}!</p>
              <p><a href="{% url 'logout' %}">logout</a></p>
            {% else %}
              <p>You are not logged in.</p>
              <a href="{% url 'login' %}">login</a>
            {% endif %}
            <section class="content">
              {% block content %}
              {% endblock content %}
            </section>

    </div>
    <footer id ="footer">
        <div id = "footer-inner">
            <p>&copy; Copyright Risasi</p>
        </div>
    </footer>
  </body>
</html>
